@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue/HelveticaNeue-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
